@model ClienteVm
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="text-align: center;">Nuevo Cliente</h1>

    <div class="row">
        <form method="post" asp-action="Insertar">
            <div class="row">
                <div class="danger">
                    @if (TempData["mensaje"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <p> @TempData["mensaje"]</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>

                            </button>
                        </div>
                    }
                </div>

            </div>
            <input asp-for="Id_Cliente" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class=" form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Fecha_Nacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="Fecha_Nacimiento" class="form-control" type="date" id="fechaNacimientoField" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>

            <script>
                // Obtener el campo de fecha de nacimiento
                var fechaNacimientoField = document.getElementById('fechaNacimientoField');

                // Obtener la fecha actual en el formato adecuado (YYYY-MM-DD)
                var today = new Date().toISOString().split('T')[0];

                // Establecer la fecha actual como valor predeterminado para el campo de fecha de nacimiento
                fechaNacimientoField.value = today;
            </script>


            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>

                <fieldset>
                    <legend>Sexo:</legend>

                    <div style="display: inline-block;">
                        <input asp-for="Sexo" type="radio" value="Hombre" checked />
                        <label asp-for="DNI">Hombre</label>
                    </div>

                    <divstyle ="display: inline-block;">
                        <input asp-for="Sexo" type="radio" value="Mujer" checked />
                        <label asp-for="DNI">Mujer</label>
                    </divstyle>
                </fieldset>
            </div>
            <!--    <div class="form-group">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" class="form-control">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                        </div>-->
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>

            </div>


            <div class="form-group">
                <input type="submit" value="Agregar" class="btn-success" style="background-color: #94D3F6; color: black;" />
            </div>


        </form>

    </div>

</div>

