@model DetalleVm
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Insertar</h1>

<div class="container">
    <h1>Detalle</h1>



    <form method="post">
        <div class="form-group">

            <input asp-for="Id_Detalle_Factura" type="hidden" class="form-control" />

            <label asp-for="Id_Producto">Producto</label>
            <select asp-for="Id_Producto" asp-items="@(ViewBag.ProductList)" class="form-control">
                <option value="">-- Seleccione Producto --</option>
            </select>
        </div>

        <div class="form-group">
            <label style="font-size: 16px;">Precio Normal del Producto</label>
            <span id="precioNormal" class="form-control" readonly></span>
        </div>

        <div class="form-group">
            <label asp-for="Cantidad" class="control-label">Cantidad</label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Total_Linea" class="control-label">Total de la línea</label>
            <input asp-for="Total_Linea" class="form-control" />
            <span asp-validation-for="Total_Linea" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <script>
        // Script para mostrar el precio normal del producto seleccionado
        $('#Id_Producto').change(function () {
            var productId = $(this).val();
            var productList = @Html.Raw(Json.Serialize(ViewBag.ProductList)); // Obtener la lista de productos desde ViewBag

            var product = productList.find(p => p.value == productId); // Buscar el producto por su ID

            if (product) {
                $('#precioNormal').text(product.text.split(' - ')[1]); // Mostrar el precio normal del producto en el span de precioNormal
            } else {
                $('#precioNormal').text(''); // Limpiar el span si no se encuentra el producto
            }
        });
    </script>
