@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
            <strong> @ViewBag.Error</strong>
        </div>
    }
    <h1 class="display-4"><b>BIENVENIDO AL SISTEMA</b></h1>
    <img src="~/imagenes/principal.jpg" alt="Principal" width="1500" height="700">
</div>
