@model CambiarContraseñaVm

@{
    ViewData["Title"] = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Cambiar Contraseña</h1>

<div class="container">
    <div class="row">
        <form method="post" asp-action="CambiarContraseña">
            <input asp-for="Id_Empleado" type="hidden" />

            <div class="form-group">
                <label asp-for="ContraseñaAnterior" class="control-label">Ingrese Contraseña Recibida Al Correo:</label>
                <input asp-for="ContraseñaAnterior" type="password" class="form-control" />
                <span asp-validation-for="ContraseñaAnterior" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NuevaContraseña" class="control-label">Nueva Contraseña:</label>
                <input asp-for="NuevaContraseña" type="password" class="form-control" />
                <span asp-validation-for="NuevaContraseña" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmarContraseña" class="control-label">Confirmar Nueva Contraseña:</label>
                <input asp-for="ConfirmarContraseña" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-success" style="color: #000; background-color: #0dcaf0; border-color: #0dcaf0;">Cambiar Contraseña</button>
            </div>
        </form>
    </div>
</div>